.main__container {
    display: flex;
    margin: 0 auto;
    padding-bottom: 12px;
    max-width: 952px;
    column-gap: 12px;
}

.input__container {
    max-width: 204px;
}

.btn__container {
    display: flex;
    column-gap: 12px;
}

.container {
    max-width: 760px;
    margin: 0 auto;
    padding-top: 78px;
    display: flex;
    column-gap: 16px;
}

.circle__container {
    display: flex;
    align-items: center;
    column-gap: 16px;
}