.container {
    margin: 48px auto;
    max-width: 829px;
    display: flex;
    column-gap: 80px;
    justify-content: space-between;
}

.container__main {
    min-width: 630px;
    display: flex;
    column-gap: 12px;
}

.circles__container {
    margin: 48px auto 0;
    max-width: 944px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 48px;
}